.about-box {
    height: 1350px;
    width: 50%;
    border: 1px solid red;
    margin-top: 10rem;
    margin-left: 24.5%;
    margin-right: 24.5%;
    border-radius: 5px;
    border: 1px solid #c4c4c4;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media @medium {
        margin-top: 16rem;
    }

    .about-header {
        font-size: 3rem;
        margin-top: 2rem;

        @media @medium {
            text-align: center;
        }

        @media @phone {
            text-align: center;
        }
    }
}
.member-box {
    height: 190px;
    width: 80%;
    border: 1px solid #c4c4c4;
    margin-top: 2rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .member-img {
        height: 8rem;
        width: 8rem;
        border-radius: 50px;
        margin-top: 1rem;
    }

    .member-name {
        font-size: 2rem;
        margin-top: 1rem;
    }

    .member-title {
        font-size: 1.6rem;
        margin-top: 0.6rem;
        color: #999999;
    }

    .icons {
        margin-top: 1rem;

        .github-handle {
            text-decoration: none;
            color: #4f4f4f;
            font-size: 1.4rem;

            &:hover {
                color: blue;
            }
        }
    }
}