// Footer Styles
footer {
  color: #22283B;
  background-color: #fffffe;
  padding: 1.4rem 0;
  border: 1px double #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
