.box {
  display: flex;
  flex-direction: column;
  margin-top: 15rem;
  align-items: center;
  background-color: #fffffe;
  height: 500px;
  width: 50%;
  margin-left: 24.5%;
  margin-right: 24.5%;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  min-width: 480px;
  //box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.1), 2px 0px 4px rgba(0, 0, 0, 0.1), 0px -2px 4px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1);

  @media @phone {
    margin-left: 0;
    margin-right: 0;
    margin-top: 16rem;
  }

  h1 {
    font-size: 3rem;
    margin-top: 5rem;
    color: #2c2c2c;
    letter-spacing: -0.1rem;
  }
  h2 {
    font-size: 1.5rem;
    margin: 1.5rem 0;
  }

  .email-input {
    height: 4.5rem;
    width: 70%;
    margin-top: 4.5rem;
    font-size: 1.5rem;
    padding-left: 1rem;
  }
  .password-input {
    margin-top: 0.5rem;
    height: 4.5rem;
    width: 70%;
    font-size: 1.5rem;
    padding-left: 1rem;
  }

  .log-in-button {
    color: white;
    background: #007AFF;
    margin-top: 2rem;
    cursor: pointer;
    height: 4rem;
    width: 70%;
    border-radius: 5px;
    font-size: 1.5rem;
    border: none;
    &:hover {
      background: rgba(2, 122, 255, 0.80);
    }
  }
  .sign-up-button {
    color: #007AFF;
    height: 4rem;
    width: 70%;
    background: rgba(2, 122, 255, 0.05);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    border: 0.5px solid #007AFF;
    &:hover {
      background: rgba(2, 122, 255, 0.15);
    }
  }
  .btn-form {
    width: 50%;
    .explore-btn {
      color: #4f4f4f;
      height: 4rem;
      width: 100%;
      background: rgba(196, 196, 196, 0.15);
      border-radius: 5px;
      border: 0.5px solid #c4c4c4;
      cursor: pointer;
      font-size: 1.5rem;
      margin-top: 7rem;
      box-shadow: none;
      &:hover {
        background: rgba(196, 196, 196, 0.30);
      }
    }
    
  }
}
.log-in-footer {
    color: #22283B;
    background-color: #fffffe;
    padding: 1.4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 8.6%;
}