.pricing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  height: 850px;
  margin: 0 auto;
  margin-top: 5rem;
  -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.5s; /* Firefox < 16 */
  -ms-animation: fadein 1.5s; /* Internet Explorer */
  -o-animation: fadein 1.5s; /* Opera < 12.1 */
  animation: fadein 1.5s;
  background: rgba(44, 44, 44, 0.9);

  @media @medium {
    margin-top: 15rem;
    width: 100%;
  }

  @media @phone {
    margin-top: 15rem;
    width: 100%;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.pricing-header {
  font-size: 3rem;
  color: #2c2c2c;
  letter-spacing: -0.1rem;
  padding-top: 5rem;
  color: white;
}

.pricing-sign-up-btn {
  .button(47.5rem, 4.5rem, white);
  font-size: 1.6rem;
  border-radius: 5px;
  background: #007aff;
  margin-top: 2rem;
  border: none;

  &:hover {
    .button-hover-border(1px, solid, #007aff);
    .button-hover-style(white, rgba(0, 122, 255, 0.7), pointer);
  }
}

.feature-box {
  width: 25.5%;
  height: 497px;
  //border: 1px solid red;
  border-radius: 5px 0 0 5px;
  display: flex;
  flex-direction: column;
  background: #4f4f4f;
  font-size: 1.6rem;
  color: #999999;

  .feature-1 {
    width: 100%;
    height: 120px;
    //border: 1px solid red;
  }
  .feature-2 {
    width: 100%;
    height: 76px;
    color: white;
    //border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;

    //.feature-2-text {
    //border: 1px solid red;
    //}
  }
}
.feature-3 {
  width: 100%;
  height: 76px;
  //border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  //.feature-3-text {
  //border: 1px solid red;
  //}
}
.feature-4 {
  width: 100%;
  height: 76px;
  //border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  //.feature-4-text {
  // border: 1px solid red;
  //}
}
.feature-5 {
  width: 100%;
  height: 76px;
  //border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  //.feature-5-text {
  //border: 1px solid red;
  //}
}
.feature-6 {
  width: 100%;
  height: 76px;
  //border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  //.feature-6-text {
  //border: 1px solid red;
  //}
}
.pricing-box {
  display: flex;
  background-color: #2c2c2c;
  height: 500px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  min-width: 500px;
  //box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.1), 2px 0px 4px rgba(0, 0, 0, 0.1), 0px -2px 4px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1);

  @media @phone {
    width: 100%;
  }
}

.free-box {
  width: 37.5%;
  height: 120px;
  //border: 1px solid red;
  font-size: 1.6rem;
  .free-1 {
    width: 100%;
    height: 120px;
    //border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c4c4c4;
    font-size: 3rem;
  }
  .free-2 {
    width: 100%;
    height: 76px;
    //border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .free-3 {
    width: 100%;
    height: 76px;
    //border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .free-4 {
    width: 100%;
    height: 76px;
    //border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .free-5 {
    width: 100%;
    height: 76px;
    //border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .free-6 {
    width: 100%;
    height: 76px;
    //border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
}

.paid-box {
  width: 37.5%;
  height: 120px;
  //border: 1px solid red;
  font-size: 1.6rem;

  .paid-1 {
    width: 100%;
    height: 120px;
    //border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c4c4c4;
    font-size: 3rem;
  }
  .paid-2 {
    width: 100%;
    height: 76px;
    //border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .paid-3 {
    width: 100%;
    height: 76px;
    //border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .paid-4 {
    width: 100%;
    height: 76px;
    //border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .paid-5 {
    width: 100%;
    height: 76px;
    //border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .paid-6 {
    width: 100%;
    height: 76px;
    //border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
}
.tabs {
  width: 100%;
  @media @phone {
    width: 100%;
  }
  .tabs-items {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
  }
  .tabs-item {
    display: none;
    width: 100%;
  }
  .tabs-item-selected {
    display: block;
  }
  .tabs-links {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin: 2rem 1rem 0 1rem;
  }
  .tabs-link {
    padding: 0.8rem 2rem 0.7rem 2rem;
    font-size: 24px;
    background-color: #2c2c2c;
    color: #ffffff;
    cursor: pointer;
    margin: 0 1rem;
    font-size: 1.6rem;
    border-radius: 5px;

    &:hover {
      background: rgba(196, 196, 196, 0.2);
      border: 0.5px solid #c4c4c4;
    }
  }
  .tabs-link-selected {
    border: 0.5px solid #c4c4c4;
    background: rgba(196, 196, 196, 0.5);
    color: white;

    &:hover {
      background-color: none;
    }
  }
}
